



<div class="flexbox_games">
    <div class="game_3_rounds">
      <a href="<%= @link_play_3_rounds %>">
        PLAY 3 ROUNDS
      </a>
    </div>
    <div class="game_5_rounds">
      <a href="<%= @link_play_5_rounds %>">
        PLAY 5 ROUNDS
      </a>
    </div>
    <div class="game_9_rounds">
      <a href="<%= @link_play_9_rounds %>">
        PLAY 9 ROUNDS
      </a>
    </div>
  </div>
</div>
